[server]
http_addr =
http_port = 3000
domain = {{ cluster_base_domain }}
root_url = https://{{ guest_install_hostname }}.{{ cluster_base_domain | lower }}/grafana
enforce_domain = False
protocol = http
serve_from_sub_path = true

[paths]
provisioning = /etc/grafana/provisioning

[security]
allow_embedding = true
csrf_trusted_origins = {{ guest_install_hostname }}.{{ cluster_base_domain | lower }}

[dashboards]
min_refresh_interval = 1s

[plugins]
allow_loading_unsigned_plugins = performancecopilot-pcp-app,pcp-redis-datasource,pcp-vector-datasource,pcp-bpftrace-datasource,pcp-flamegraph-panel,pcp-breadcrumbs-panel,pcp-troubleshooting-panel,performancecopilot-redis-datasource,performancecopilot-vector-datasource,performancecopilot-bpftrace-datasource,performancecopilot-flamegraph-panel,performancecopilot-breadcrumbs-panel,performancecopilot-troubleshooting-panel

[feature_toggles]
publicDashboards = true

[auth.ldap]
enabled = true
config_file = /etc/grafana/ldap.toml
