USER ICICCMP0 ZVM4DEMO 16G 32G  G
 INCLUDE IBMDFLT
 CPU 00
 CPU 01
 CPU 02
 CPU 03
 IPL 200
 IUCV ANY
 SHARE RELATIVE 400
 MACHINE ESA 4
 OPTION LNKNOPAS
 CONSOLE 0009 3215 T OPMGRM1
 NICDEF 0AD0 TYPE QDIO LAN SYSTEM VSW1 DEVICES 3
 NICDEF 0AD8 TYPE HIPERS LAN SYSTEM {{ ocp_cluster_lan_name }} DEVICES 3
 LINK LNXMAINT 200 191 RR
