{{ lookup('file', '/etc/pki/tls/certs/icic.cert') }}
{{ lookup('file', '/etc/pki/tls/certs/oqsCA-{% raw %}{{ cluster_base_domain }}{% endraw %}.cert') }}
{{ lookup('file', '/etc/pki/tls/certs/oqsRootCA.cert') }}
