USER ICICMGT0 ZVM4DEMO 16G 32G  G
 INCLUDE IBMDFLT
 ACCOUNT LINUX
 COMMAND SET RUN ON
 COMMAND SPOOL CONSOLE START
 COMMAND SET VCONFIG MODE LINUX
 COMMAND DEFINE CPU 00-03 TYPE IFL
 COMMAND SET PF11 RETRIEVE BACKWARD
 COMMAND SET PF12 RETRIEVE FORWARD
 COMMAND DEFINE STORAGE INITIAL STANDBY REMAINDER
 CRYPTO APVIRTUAL
 CPU 00
 IPL 200
 SHARE RELATIVE 400
 MACHINE ESA 8
 CONSOLE 0009 3215 T OPMGRM1 OBSERVER
 NICDEF 0AD0 TYPE QDIO LAN SYSTEM VSW1 DEVICES 3 VLANPLACE
 NICDEF 0AD8 TYPE HIPERS LAN SYSTEM {{ ocp_cluster_lan_name }} DEVICES 3
 LINK {{ znetboot_cfg_disk }} 191 RR
