---
- name: create the bootstrap node
  include_tasks: create-guest.yml
  vars:
    coreos_role: bootstrap
    directory_entry: "{% raw %}{{ lookup('template', '{{ playbook_dir }}/roles/create-cluster/templates/guest.direct.j2') }}{% endraw %}"
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"

- name: create the master nodes
  include_tasks: create-guest.yml
  vars:
    coreos_role: masters
    directory_entry: "{% raw %}{{ lookup('template', '{{ playbook_dir }}/roles/create-cluster/templates/guest.direct.j2') }}{% endraw %}"
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"

- name: create the worker nodes
  include_tasks: create-guest.yml
  vars:
    coreos_role: workers
    directory_entry: "{% raw %}{{ lookup('template', '{{ playbook_dir }}/roles/create-cluster/templates/guest.direct.j2') }}{% endraw %}"
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"
  when: cluster_nodes.workers is defined
