---
- name: delete ocp4 cluster guests
  hosts: s390x_bastion_workstation
  tasks:
  - name: delete the bootstrap node
    include_tasks: tasks/delete-guest.yml
    vars:
      coreos_role: bootstrap
    with_items: "{% raw %}{{ cluster['nodes'][coreos_role] }}{% endraw %}"

  - name: delete the control nodes
    include_tasks: tasks/delete-guest.yml
    vars:
      coreos_role: control
    with_items: "{% raw %}{{ cluster['nodes'][coreos_role] }}{% endraw %}"

  - name: delete the compute nodes
    include_tasks: tasks/delete-guest.yml
    vars:
      coreos_role: workers
    with_items: "{% raw %}{{ cluster['nodes'][coreos_role] }}{% endraw %}"
    when: cluster['nodes'].compute is defined

  - name: delete the infra nodes
    include_tasks: tasks/delete-guest.yml
    vars:
      coreos_role: workers
    with_items: "{% raw %}{{ cluster['nodes'][coreos_role] }}{% endraw %}"
    when: cluster['nodes'].infra is defined

  - name: delete the OCP profile
    shell: /usr/local/bin/smcli pfdd -T OCPDFLT -H {{ ocp_smapi_host|quote }} -U {{ ocp_smapi_user|quote }} -P {{ ocp_smapi_password|quote }}  # noqa 204
    args:
      executable: /bin/bash
    register: ret
    failed_when:
      ret.rc == 1 and "Image or profile definition not found" not in ret.stdout
    changed_when:
      ret.rc == 0
