#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[', variable_end_string:']]'
---
- name: generate the certificate
  include_tasks: create-certificate.yml
  with_items:
  - { filename: "ocpApps", common_name: "*.apps.{{ cluster_name }}.{{ cluster_base_domain }}" }

- name: create combined PEM file for OCP apps
  shell:
    cmd: cat ocpApps.cert oqsCA.cert oqsRootCA.cert > ocpApps-bundle.cert
    chdir: [[ ca_cert_path ]]

- name: Create OCP ConfigMap for CA certs
  command:
    cmd: |
      /opt/rhocp/install/{{ cluster['OCPVer'] }}/client/oc create configmap custom-ca --kubeconfig='/home/csid_{{ cluster_name }}/.kube/config' --from-file=ca-bundle.crt=[[ ca_cert_path ]]/oqsRootCA.cert --from-file=ca.crt=[[ ca_cert_path ]]/oqsCA.certs.bundle -n openshift-config

- name: Add OCP ConfigMap for CA cert
  command:
    cmd: |
      /opt/rhocp/install/{{ cluster['OCPVer'] }}/client/oc patch proxy/cluster --kubeconfig='/home/csid_{{ cluster_name }}/.kube/config' --type=merge -p '{"spec":{"trustedCA":{"name":"custom-ca"}}}'

- name: Create OCP secret for the certificate and chain
  command:
    cmd: |
      /opt/rhocp/install/{{ cluster['OCPVer'] }}/client/oc create secret tls oqscert --kubeconfig='/home/csid_{{ cluster_name }}/.kube/config' --cert=[[ ca_cert_path ]]/ocpApps-bundle.cert --key=[[ ca_key_path ]]/ocpApps.pem -n openshift-ingress

- name: Update the Ingress Controller
  command:
    cmd: |
      /opt/rhocp/install/{{ cluster['OCPVer'] }}/client/oc patch ingresscontroller.operator default --kubeconfig='/home/csid_{{ cluster_name }}/.kube/config' --type=merge -p '{"spec":{"defaultCertificate": {"name": "oqscert"}}}' -n openshift-ingress-operator

- name: Create the Custom Resource for the LDAP identity provider
  template:
    src: ldapIdentityCr.yml.j2
    dest: "{{ workdir }}/ldapIdentityCr.yml"

- name: Add the identity provider
  command:
    cmd: /opt/rhocp/install/{{ cluster['OCPVer'] }}/client/oc apply --kubeconfig='/home/csid_{{ cluster_name }}/.kube/config' -f {{ workdir }}/ldapIdentityCr.yml

- name: Set admin users as cluster-admin
  command:
    cmd: /opt/rhocp/install/{{ cluster['OCPVer'] }}/client/oc adm policy add-cluster-role-to-user cluster-admin {{ item }} --kubeconfig='/home/csid_{{ cluster_name }}/.kube/config'
  loop:
    - "admin01"
    - "admin02"
    - "admin03"
    - "admin04"
    - "admin05"
