---
# tasks file for create-cluster

- name: grab the pull secret
  stat:
    path: "{{ ocp4_pull_secret_file }}"
  register: ps
- name: abort if the pull secret is not present
  fail:
    msg: "OCP pull secret is not found!"
  when: ps.stat.size == 0

- name: remove prior openshift workdir
  file:
    path: "{{ workdir }}"
    state: absent

- name: create openshift workdir
  file:
    path: "{{ workdir }}"
    state: "directory"
    mode: 0755

- name: copy the ZNETBOOT config files to CMS
  block:
  - name: unmount the CMSFS
    command:
      cmd: fusermount -u {{ znetboot_cfg_path }}
# the DASD has to be cycled to pick up new link mode :/
  - name: vary the DASD offline
    command:
      cmd: chccwdev -d 191
  - name: link the DASD in write mode
    command:
      cmd: vmcp link {{ znetboot_cfg_disk }} 191 mr
  - name: vary the DASD online
    command:
      cmd: chccwdev -e 191
  - name: pause for udev/systemd
    pause:
      seconds: 3
# Can't use Ansible copy module due to CMSFS semantics
# (and stubbornness of Ansible)
  - name: copy the files
    shell:
      cmd: "cp {{ webroot }}/bootfiles/*.znetboot {{ znetboot_cfg_path }}/"
  - name: unmount the CMSFS
    command:
      cmd: fusermount -u {{ znetboot_cfg_path }}
# the DASD has to be cycled to pick up new link mode :/
  - name: vary the DASD offline
    command:
      cmd: chccwdev -d 191
  - name: link the DASD in read mode
    command:
      cmd: vmcp link {{ znetboot_cfg_disk }} 191 rr
  - name: vary the DASD online
    command:
      cmd: chccwdev -e 191

# install config is deleted when ignition
# configs are created.  this task also
# creates a copy to check for debugging
- name: generate install-config.yaml
  tags: config
  template:
    dest: "{{ workdir }}/{% raw %}{{ item }}{% endraw %}"
    src: install-config.yaml.j2
    mode: 0644
  with_items:
  - install-config.yaml
  - install-config.copy.yaml

- name: create ignition configs
  tags: config
  shell: "openshift-install --dir=`pwd` create ignition-configs"
  args:
    chdir: "{{ workdir }}"
    creates: "{{ workdir }}/metadata.json"

- name: create additional config mods in ignition
  block:
  - name: back up the ignition files
    tags: config
    shell: ls {{ workdir }}/*.ign
    register: ign_raw
  - name: back up ignition configs
    tags: config
    copy:
      src: "{% raw %}{{ item }}{% endraw %}"
      dest: "{% raw %}{{ item }}{% endraw %}.bak"
      remote_src: yes
      mode: 0644
    with_items: "{% raw %}{{ ign_raw.stdout_lines }}{% endraw %}"
  - name: create bootstrap directory
    file:
      path: "{{ workdir }}/bootstrap/etc"
      state: directory
      mode: 0755
  - name: create our chrony.conf file
    template:
      dest: "{{ workdir }}/bootstrap/etc/chrony.conf"
      src: chrony.conf.j2
      mode: 0644
  - name: filetranspile the ignition files
    command: filetranspile -i {% raw %}{{ item }}{% endraw %}.bak -f bootstrap -o {% raw %}{{ item }}{% endraw %}{{ '' }}
    args:
      chdir: "{{ workdir }}"
    with_items: "{% raw %}{{ ign_raw.stdout_lines }}{% endraw %}"
#  - name: create ignition manifests
#    tags: config
#    shell: "openshift-install --dir=`pwd` create manifests"
#    args:
#      chdir: "{{ workdir }}"
#      creates: "{{ workdir }}/manifests"
#  - name: create manifest files for chrony config
#    template:
#      dest: "{{ workdir }}/manifests/99_{% raw %}{{ item }}{% endraw %}-chrony-configuration.yaml"
#      src: chrony-manifest.yaml.j2
#      mode: 0644
#    loop:
#      - "master"
#      - "worker"
#  - name: copy/recover the install-config.yaml
#    copy:
#      src: "{{ workdir }}/install-config.copy.yaml"
#      dest: "{{ workdir }}/install-config.yaml"
#      mode: 0644
#  - name: re-create ignition configs
#    tags: config
#    shell: "openshift-install --dir=`pwd` create ignition-configs"
#    args:
#      chdir: "{{ workdir }}"

- block:
  - name: make ignition config directory
    file:
      path: /var/www/html/ignition
      state: directory
      mode: 0755
  - name: get ign files
    tags: config
    shell: ls {{ workdir }}/*.ign
    register: ign_raw
  - name: copy ignition configs to /var/www/html/ignition
    tags: config
    copy:
      src: "{% raw %}{{ item }}{% endraw %}"
      dest: "/var/www/html/ignition/"
      remote_src: yes
      mode: 0644
    with_items: "{% raw %}{{ ign_raw.stdout_lines }}{% endraw %}"

- name: install kubeconfig
  tags: wait-install
  copy:
    src: "{{ workdir }}/auth/kubeconfig"
    dest: "~/.kube/config"
    remote_src: yes
    force: yes
    mode: 0640

- name: create /etc/hosts entry
  tags: etc-hosts
  connection: local
  copy:
    dest: "{% raw %}{{ playbook_dir }}{% endraw %}/../etc.hosts"
    mode: 0644
    content: >
      {{ bastion_public_ip_address }}
      bastion.{{ cluster_domain_name }}
      api.{{ cluster_domain_name }}
      console-openshift-console.apps.{{ cluster_domain_name }}
      oauth-openshift.apps.{{ cluster_domain_name }}

- name: boot the bootstrap node
  include_tasks: boot-guest.yml
  vars:
    coreos_role: bootstrap
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"

- name: boot the master nodes
  include_tasks: boot-guest.yml
  vars:
    coreos_role: masters
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"

- name: boot the worker nodes
  include_tasks: boot-guest.yml
  vars:
    coreos_role: workers
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"
  when: cluster_nodes.workers is defined

- name: wait for bootstrap node accessibility
  wait_for:
    port: 22
    host: "{% raw %}{{ cluster_nodes['bootstrap'][item].ip }}{% endraw %}"
    search_regex: OpenSSH
    delay: 1
    timeout: 10000
  with_items: "{% raw %}{{ cluster_nodes['bootstrap'] }}{% endraw %}"

- name: wait for master node accessibility
  wait_for:
    port: 22
    host: "{% raw %}{{ cluster_nodes['masters'][item].ip }}{% endraw %}"
    search_regex: OpenSSH
    delay: 1
    timeout: 5000
  with_items: "{% raw %}{{ cluster_nodes['masters'] }}{% endraw %}"

- name: wait for worker node accessibility
  wait_for:
    port: 22
    host: "{% raw %}{{ cluster_nodes['workers'][item].ip }}{% endraw %}"
    search_regex: OpenSSH
    delay: 1
    timeout: 5000
  with_items: "{% raw %}{{ cluster_nodes['workers'] }}{% endraw %}"
  when: cluster_nodes.workers is defined

- name: wait for bootstrap complete # noqa 301
  tags: config
  shell: openshift-install --dir=`pwd` wait-for bootstrap-complete --log-level debug
  args:
    chdir: "{{ workdir }}"
  retries: 1
  delay: 0

- name: start the approve-csrs task
  systemd:
    name: ocp-approve-csrs
    state: started

- name: wait for install complete # noqa 301
  tags: wait-install
  shell: openshift-install --dir=`pwd` wait-for install-complete
  args:
    chdir: "{{ workdir }}"
  retries: 1
  delay: 0

- name: stop the approve-csrs task
  systemd:
    name: ocp-approve-csrs
    state: stopped

- name: update boot device on the master nodes
  include_tasks: guest-IPLdev.yml
  vars:
    coreos_role: masters
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"

- name: update boot device on the worker nodes
  include_tasks: guest-IPLdev.yml
  vars:
    coreos_role: workers
  with_items: "{% raw %}{{ cluster_nodes[coreos_role] }}{% endraw %}"
  when: cluster_nodes.workers is defined

- name: configure the cluster (LDAP, ingress certificate)
  include_tasks: configure-cluster.yml
