---
# tasks file for create-guest-for-linux
- name: create a new directory entry for a Linux guest
  shell: /usr/local/bin/smcli icd -T {% raw %}{{ cluster['nodes'][coreos_role][item].name|quote }}{% endraw %} -H {{ ocp_smapi_host|quote }} -U {{ ocp_smapi_user|quote }} -P {{ ocp_smapi_password|quote }}
  args:
    stdin: "{% raw %}{{ directory_entry }}{% endraw %}"
    executable: /bin/bash
