---
# tasks file for create-guest-for-linux
- name: stop a Linux guest
  shell: /usr/local/bin/smcli id -T {% raw %}{{ cluster_nodes[coreos_role][item].guest_name|quote }}{% endraw %} -H {{ ocp_smapi_host|quote }} -U {{ ocp_smapi_user|quote }} -P {{ ocp_smapi_password|quote }} -t IMMED # noqa 204
  args:
    executable: /bin/bash
  register: ret
  failed_when:
    ret.rc == 1 and "Image not active" not in ret.stdout
  changed_when:
    ret.rc == 0

- name: delete a Linux guest
  shell: /usr/local/bin/smcli idd -T {% raw %}{{ cluster_nodes[coreos_role][item].guest_name|quote }}{% endraw %} -H {{ ocp_smapi_host|quote }} -U {{ ocp_smapi_user|quote }} -P {{ ocp_smapi_password|quote }} -e 1 # noqa 204
  args:
    executable: /bin/bash
