---
# Configure the internal domain name of the cluster here.
cluster_domain_name: "{% raw %}{{ cluster_name }}.{{ cluster_base_domain }}{% endraw %}"

# The IP address of the local network
# gateway, and the netmask/cidr of
# the subnet
subnet_in_addr_name: "{{ subnet_cidr.split('.')[:3] | reverse | join('.') }}"

ocp_cluster_lan_name: "{{ ocp_cluster_lan_name }}"

# This is the default node configuration.
# Please ensure the MAC addresses are
# correct for the hardware you are deploying to.
# The IP addresses must be on the same subnet as
# the cluster_subnet_prefix
# CHANGEME!
#cluster_nodes:
#  bootstrap:
#    bootstrap-0:
#      guest_name: '{% raw %}{{ cluster["nodes"]["bootstrap"]["name"] }}{% endraw %}'
#      mac: '52:54:00:d0:f7:03'
#      ip: '{% raw %}{{ cluster["nodes"]["bootstrap"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: bootstrap.ign
#  masters:
#    master-0:
#      guest_name: '{% raw %}{{ cluster["nodes"]["control-0"]["name"] }}{% endraw %}'
#      mac: '52:54:00:da:70:41'
#      ip: '{% raw %}{{ cluster["nodes"]["control-0"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: master.ign
#    master-1:
#      guest_name: '{% raw %}{{ cluster["nodes"]["control-1"]["name"] }}{% endraw %}'
#      mac: '52:54:00:a2:93:d8'
#      ip: '{% raw %}{{ cluster["nodes"]["control-1"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: master.ign
#    master-2:
#      guest_name: '{% raw %}{{ cluster["nodes"]["control-2"]["name"] }}{% endraw %}'
#      mac: '52:54:00:d9:5b:d8'
#      ip: '{% raw %}{{ cluster["nodes"]["control-2"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: master.ign
#  workers:
#    worker-0:
#      guest_name: '{% raw %}{{ cluster["nodes"]["compute-0"]["name"] }}{% endraw %}'
#      mac: '52:54:00:70:8b:74'
#      ip: '{% raw %}{{ cluster["nodes"]["compute-0"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: worker.ign
#    worker-1:
#      guest_name: '{% raw %}{{ cluster["nodes"]["compute-1"]["name"] }}{% endraw %}'
#      mac: '52:54:00:70:8b:75'
#      ip: '{% raw %}{{ cluster["nodes"]["compute-1"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: worker.ign
#  bootworker:
#    worker-2:
#      guest_name: '{% raw %}{{ cluster["nodes"]["compute-2"]["name"] }}{% endraw %}'
#      mac: '52:54:00:70:8b:76'
#      ip: '{% raw %}{{ cluster["nodes"]["compute-2"]["ip"] }}{% endraw %}'
#      disk: "{{ dev_disk[install_mode] }}"
#      ign_profile: worker.ign
guestmemory:
  bootstrap: "{{ guestmemory['bootstrap'] }}"
  masters: "{{ guestmemory['masters'] }}"
  workers: "{{ guestmemory['workers'] }}"
guestvcpus:
  bootstrap: "{{ guestvcpus['bootstrap'] }}"
  masters: "{{ guestvcpus['masters'] }}"
  workers: "{{ guestvcpus['workers'] }}"

# The following variables should generally not need to be edited

# This will be the same as the bastion private ip when
# bastion is a separate VM, otherwise it is the gateway ip.
# dhcp_server_ip_address is not used by default in a z/VM install
bastion_public_ip_address: "{{ guest_install_ipaddr }}"

ocp4_pull_secret: "{% raw %}{{ lookup('file', '{{ webroot }}/.secret/{{ cluster_values.secret }}') | from_json }}{% endraw %}"

znetboot_cfg_path: "{{ znetboot_cfg_path }}"
znetboot_cfg_disk: "{{ znetboot_cfg_disk }}"
webroot: "{{ webroot }}"

# The IP configuration will write out the cluster_base_domain variable.
# Look for runtime.yml in the group_vars/all directory (where this file is).
# If this is the only file in the 'all' directory then the IP configuration did not run :/
