apiVersion: v1
baseDomain: "{% raw %}{{ cluster_base_domain }}{% endraw %}"
proxy:
  httpProxy: http://{{ bastion_private_ip_address }}:3128
  httpsProxy: http://{{ bastion_private_ip_address }}:3128
  noProxy: .{% raw %}{{ cluster_name }}.{{ cluster_base_domain }}{% endraw %},169.254.169.254,{{ subnet_cidr }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {% raw %}{{ (cluster['nodes']['compute'].keys() | length) if cluster['nodes']['compute'] is defined else 0 }}{% endraw %}{{''}}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {% raw %}{{ cluster['nodes']['control'].keys() | length }}{% endraw %}{{''}}
metadata:
  name: "{% raw %}{{ cluster_name }}{% endraw %}"
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{% raw %}{{ ocp4_pull_secret | to_json }}{% endraw %}'
sshKey: '{% raw %}{{ bastion_pubkey.content | b64decode | trim }}{% endraw %}'
