[Unit]
Description=Stop the guests of our OCP cluster
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/local/bin/ocp-cluster-guests.sh stop

[Install]
WantedBy=multi-user.target
