#!/bin/sh
# ocp-version.sh -- update symlinks for OCP utilities
FN={{ webroot }}/ocp-version
alternatives --set openshift-install /usr/local/bin/stable-$(cat ${FN})/openshift-install
alternatives --set rhcos-kernel {{ webroot }}/bootfiles/$(cat ${FN})/rhcos-live-kernel-s390x
