PROFILE OCPDFLT
 CLASS G
 ACCOUNT LINUX
 COMMAND SET RUN ON
 COMMAND SPOOL CONSOLE START
 COMMAND SET VCONFIG MODE LINUX
 COMMAND DEFINE CPU 00 TYPE IFL
 COMMAND SET PF11 RETRIEVE BACKWARD
 COMMAND SET PF12 RETRIEVE FORWARD
 COMMAND DEFINE STORAGE INITIAL STANDBY REMAINDER
 CRYPTO APVIRTUAL
 MACHINE ESA 64
 OPTION APPLMON
 CONSOLE 0009 3215 T OPMGRM1 OBSERVER
 SPOOL 000C 2540 READER *
 SPOOL 000D 2540 PUNCH A
 SPOOL 000E 1403 A
 LINK MAINT 0190 0190 RR
 LINK {% raw %}{{ znetboot_cfg_disk }}{% endraw %} 0191 RR
 LINK MAINT 019D 019D RR
 LINK MAINT 019E 019E RR
