#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[', variable_end_string:']]'
ZNETBOOT_KERNEL=http://[[ bastion_private_ip_address ]]:8080/install/{{ rhcos_installer_kernel }}
ZNETBOOT_INITRD=http://[[ bastion_private_ip_address ]]:8080/install/{{ rhcos_installer_initramfs }}
ZNETBOOT_PROGRESS=2M

rd.neednet=1 console=ttysclp0 coreos.inst=yes coreos.inst.install_dev={{ cluster['nodes'][coreos_role][item].disk }}
coreos.live.rootfs_url=http://[[ bastion_private_ip_address ]]:8080/install/{{ rhcos_live_image }}
coreos.inst.ignition_url=http://[[ bastion_private_ip_address ]]:8080/ignition/{{ cluster['nodes'][coreos_role][item].ign_profile }}
{{ coreos_kargs_net[install_mode] }}
{{ coreos_kargs_extra[install_mode] }}
