#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[', variable_end_string:']]'
{# ------------------------------------ CRITICAL -------------------------------------- #}
{# This file must be synchronised between configure-haproxy and setup-firstboot-ipconf! #}
{# ------------------------------------ CRITICAL -------------------------------------- #}

global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          30m
    timeout server          30m
    timeout http-keep-alive 10s
    timeout check           10s
    timeout tunnel          7500s
    maxconn                 3000

frontend elan-router-http
   mode http
   option tcplog
   bind {{ bastion_public_ip_address }}:80
   tcp-request inspect-delay 5s
   acl elanweb hdr(host) -i {{ elan_host_name }}.{{ zvmesi_domain_name }}
   acl elanweb hdr(host) -i {{ elan_host_name }}.{{ cluster_base_domain }}
   use_backend elan-http if elanweb

frontend elan-router-https
   mode tcp
   option tcplog
   bind {{ bastion_public_ip_address }}:443
   tcp-request inspect-delay 5s
   tcp-request content accept if { req_ssl_hello_type 1 }
   acl elanweb req_ssl_sni -i {{ elan_host_name }}.{{ zvmesi_domain_name }}
   acl elanweb req_ssl_sni -i {{ elan_host_name }}.{{ cluster_base_domain }}
   use_backend elan-https if elanweb

backend elan-http
   mode http
      server elan {{ elan_host_name }}.{{ zvmesi_domain_name }}:8080 check

backend elan-https
   mode tcp
      server elan {{ elan_host_name }}.{{ zvmesi_domain_name }}:8443 check

frontend stats
  bind *:8404 ssl crt /etc/haproxy/haproxy-combined.pem
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if LOCALHOST
