# HAProxy default configuration for ELAN

global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  forwardfor except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          30m
    timeout server          30m
    timeout http-keep-alive 10s
    timeout check           10s
    timeout tunnel          7500s
    maxconn                 3000

frontend elan-router-http
   mode http
   option tcplog
   bind {{ bastion_public_ip_address }}:80
   default_backend elan-http

frontend elan-router-https
   mode tcp
   option tcplog
   bind {{ bastion_public_ip_address }}:443
   default_backend elan-https

backend elan-http
   mode http
   server elan 172.24.26.1:8080 check

backend elan-https
   mode tcp
   server elan 172.24.26.1:8443 check

frontend stats
  bind *:8404 ssl crt /etc/haproxy/haproxy-combined.pem
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if LOCALHOST
