#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[', variable_end_string:']]'
$TTL 900
@                     IN SOA elan-int.{{ esigroup }}.{{ cluster_base_domain }}. hostmaster.{{ esigroup }}.{{ cluster_base_domain }}. (
                        1 1D 1H 1W 3H
                      )
                      IN NS elan-int.{{ esigroup }}.{{ cluster_base_domain }}.

api                   IN A {{ bastion_public_ip_address }}
api-int               IN A [[ bastion_private_ip_address ]]
apps                  IN A {{ bastion_public_ip_address }}
*.apps                IN A {{ bastion_public_ip_address }}
