$TTL 900

@                     IN SOA bastion-int.{% raw %}{{ cluster_domain_name }}{% endraw %}. hostmaster.{% raw %}{{ cluster_domain_name }}{% endraw %}. (
                        2021061801 1D 1H 1W 3H
                      )
                      IN NS bastion-int.{% raw %}{{ cluster_domain_name }}{% endraw %}.

zVM                   IN A {{ zvm_internal_ip_address }}
LDAPSRV               IN A {{ zvm_internal_ip_address }}
