#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
zone "{{ domain_name }}" {
        type master;
        file "{{ domain_name }}.zone";
        allow-query { any; };
        allow-transfer { alllocals; };
        allow-update { key "{{ esigroup | lower }}-key"; };
};