#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[', variable_end_string:']]'
$TTL 900
@          IN SOA elan-int.{{ zvmesi_domain_name }} hostmaster.{{ zvmesi_domain_name }}. (
             2024020201 1D 1H 1W 3H
           )
           IN NS elan-int.{{ zvmesi_domain_name }}.

[[ zvm_internal_ip_address.split('.')[3] ]] IN PTR zVM.ibmpoc.internal.
[[ zvm_internal_ip_address.split('.')[3] ]] IN PTR LDAPSRV.ibmpoc.internal.
[[ bastion_private_ip_address.split('.')[3] ]] IN PTR elan-int.{{ cluster_domain_name }}.
