{% set bootstrap = cluster_nodes['bootstrap'] %}
{% set masters = cluster_nodes['masters'] %}
{% set workers = cluster_nodes['workers'] %}
{% set bootworker = cluster_nodes['bootworker'] %}
$TTL 900

@ IN SOA bastion-int.{% raw %}{{ cluster_domain_name }}{% endraw %} hostmaster.{% raw %}{{ cluster_domain_name }}{% endraw %}. (
    2022090501 1D 1H 1W 3H
  )
  IN NS bastion-int.{% raw %}{{ cluster_domain_name }}{% endraw %}.

{{ zvm_internal_ip_address.split('.')[3] }} IN PTR zVM.ibmpoc.internal.
{{ zvm_internal_ip_address.split('.')[3] }} IN PTR LDAPSRV.ibmpoc.internal.
{{ bastion_private_ip_address.split('.')[3] }} IN PTR bastion-int.{% raw %}{{ cluster_domain_name }}{% endraw %}.

{% for item in masters.keys() %}
{{ masters[item].ip.split('.')[3] }} IN PTR {{ item }}.{% raw %}{{ cluster_domain_name }}{% endraw %}.
{% endfor %}

{% if workers is defined %}
{% for item in workers.keys() %}
{{ workers[item].ip.split('.')[3] }} IN PTR {{ item }}.{% raw %}{{ cluster_domain_name }}{% endraw %}.
{% endfor %}
{% endif %}
{% if bootworker is defined %}
{% for item in bootworker.keys() %}
{{ bootworker[item].ip.split('.')[3] }} IN PTR {{ item }}.{% raw %}{{ cluster_domain_name }}{% endraw %}.
{% endfor %}
{% endif %}

{% for item in bootstrap.keys() %}
{{ bootstrap[item].ip.split('.')[3] }} IN PTR {{ item }}.{% raw %}{{ cluster_domain_name }}{% endraw %}.
{% endfor %}
