---
# tasks file for create-guest-for-linux
- name: create a new directory entry for a Linux guest
  shell: /usr/local/bin/smcli icd -T {{ guest_name|quote }} -H {{ smapi_host|quote }}/44444 -U {{ smapi_user|quote }} -P {{ smapi_password|quote }}
  args:
    stdin: "{{ directory_entry }}"
    executable: /bin/bash

- name: create the installation ZNETBOOT config
  template:
    src: "templates/guest.znetboot.j2"
    dest: "/mnt/znetboot/{{ guest_name }}.ZNETBOOT"
    owner: "support"
    group: "root"
    mode: "0666"
    unsafe_writes: true

- name: create the installation kickstart file
  template:
    src: "templates/guest.ks.j2"
    dest: "/srv/install/rhelks/{{ guest_install_hostname }}.ks"

# - name: write the parmfile to the reader
#   shell: curl -Q "SITE FIX 132" -T /srv/install/rhelks/{{ guest_name }}.znetboot -B ftp://MAINT.BY.{{ smapi_user|quote }}:{{ smapi_password|quote }}@{{ smapi_host|quote }}/MAINT.200/  # noqa 204
#   args:
#     warn: false

- name: IPL a Linux guest
  shell: /usr/local/bin/smcli ia -T {{ guest_name|quote }} -H {{ smapi_host|quote }}/44444 -U {{ smapi_user|quote }} -P {{ smapi_password|quote }}
  args:
    executable: /bin/bash

- name: Wait here for a while...
  connection: local
  wait_for:
    timeout: 480

- name: Wait for the build to complete
  connection: local
  wait_for:
    port: 22
    host: "{{ guest_install_ipaddr }}"
    search_regex: OpenSSH
    delay: 20

- name: set the real IPL device for a Linux guest
  shell: /usr/local/bin/smcli iisd -T {{ guest_name|quote }} -n 200 -H {{ smapi_host|quote }}/44444 -U {{ smapi_user|quote }} -P {{ smapi_password|quote }}
  args:
    executable: /bin/bash

