<?php
// Override config.inc.php parameters
define("SMARTY", "/usr/share/php/Smarty/Smarty.class.php");
$smarty_compile_dir = "../templates_c/";
$smarty_cache_dir = "../cache/";

{% if meta_header_file is defined %}
$custom_css = "/w3ds/w3ds.css";
$custom_js = "/w3ds/w3ds.js";
$meta_header_file = "../../{{ meta_header_file }}";
unset($background_image);
{% endif %}

$lang = "en";

$ldap_url = "{{ ldap_url }}";
$ldap_base = "{{ ldap_base }}";
$ldap_user_base = "ou=people," . $ldap_base;
$ldap_group_base = "ou=groups," . $ldap_base;
$ldap_user_regex = "/,ou=people,/i";
$ldap_binddn = "racfid={{ admin_uid }},profiletype=user,{{ sdbm_base }}";
$ldap_bindpw = '{{ admin_pwd }}';
$racf_mode = true;
$sdbm_base = "{{ sdbm_base }}";
$sdbm_ldap_url = "{{ ldap_url }}";
$resetpassword_reset_default = false;

$resource_title = "resource";
$resource_items = array("owner", "uacc", "access");
$show_undef = true;

?>
