---
- name: generate z/VM private key
  openssl_privatekey:
    path: "{{ ca_key_path }}/zVM.pem"

- name: generate z/VM CSR
  openssl_csr:
    path: "{{ ca_csr_path }}/zVM.csr"
    privatekey_path: "{{ ca_key_path }}/zVM.pem"
    common_name: "zVM.ibmpoc.internal"
    organization_name: "IBM"
    organizational_unit_name: "IBM z/VM for Red Hat Openshift PoC"
    country_name: "AU"
    keyUsage: ["digitalSignature","keyAgreement"]
    extendedKeyUsage: ["clientAuth","serverAuth"]

- name: generate Certificate
  openssl_certificate:
    path: "{{ ca_cert_path }}/zVM.cert"
    csr_path: "{{ ca_csr_path }}/zVM.csr"
    ownca_path: "{{ ca_cert_path }}/oqsRootCA.cert"
    ownca_privatekey_path: "{{ ca_key_path }}/oqsRootCA.pem"
    ownca_not_after: +365d
    provider: ownca

- name: Generate PKCS12 file
  openssl_pkcs12:
    action: export
    path: "{{ ca_cert_path }}/zVM.p12"
    friendly_name: ZVMTLS
    privatekey_path: "{{ ca_key_path }}/zVM.pem"
    certificate_path: "{{ ca_cert_path }}/zVM.cert"
    other_certificates: "{{ ca_cert_path }}/oqsRootCA.cert"
    passphrase: zvm4demo
    state: present

- name: generate z/VM LDAP private key
  openssl_privatekey:
    path: "{{ ca_key_path }}/zVMLDAP.pem"

- name: generate z/VM LDAP CSR
  openssl_csr:
    path: "{{ ca_csr_path }}/zVMLDAP.csr"
    privatekey_path: "{{ ca_key_path }}/zVMLDAP.pem"
    common_name: "LDAPSRV.ibmpoc.internal"
    organization_name: "IBM"
    organizational_unit_name: "IBM z/VM for Red Hat Openshift PoC"
    country_name: "AU"

- name: generate Certificate
  openssl_certificate:
    path: "{{ ca_cert_path }}/zVMLDAP.cert"
    csr_path: "{{ ca_csr_path }}/zVMLDAP.csr"
    ownca_path: "{{ ca_cert_path }}/oqsRootCA.cert"
    ownca_privatekey_path: "{{ ca_key_path }}/oqsRootCA.pem"
    provider: ownca

- name: Generate PKCS12 file
  openssl_pkcs12:
    action: export
    path: "{{ ca_cert_path }}/zVMLDAP.p12"
    friendly_name: LDAPSRV
    privatekey_path: "{{ ca_key_path }}/zVMLDAP.pem"
    certificate_path: "{{ ca_cert_path }}/zVMLDAP.cert"
    other_certificates: "{{ ca_cert_path }}/oqsRootCA.cert"
    passphrase: zvm4demo
    state: present

