#!/bin/bash
#
# checksmapi.sh -- exists when SMAPI is available
# Checks for SMAPI to be available via the configured settings

smapiauth='-H {{ ocp_smapi_host }} -U {{ ocp_smapi_user }} -P {{ ocp_smapi_password }}'

until vmcp Q VSMREQIN 2>/dev/null ; do
  echo "Pausing to wait for SMAPI listener"
  sleep 10
done
sleep 3
until smcli qafl -T IBMAUTO ${smapiauth} ; do
  echo "SMAPI listener not yet active, continuing..."
  sleep 10
done
