[server]
http_addr =
http_port = 3000
domain = {{ cluster_base_domain }}
root_url = https://{{ elan_host_name }}.{{ cluster_base_domain }}/grafana
enforce_domain = False
protocol = http
serve_from_sub_path = true

[security]
allow_embedding = true
csrf_trusted_origins = {{ elan_host_name }}.{{ cluster_base_domain }}

[dashboards]
min_refresh_interval = 1s

[plugins]
allow_loading_unsigned_plugins = performancecopilot-pcp-app,pcp-redis-datasource,pcp-vector-datasource,pcp-bpftrace-datasource,pcp-flamegraph-panel,pcp-breadcrumbs-panel,pcp-troubleshooting-panel,performancecopilot-redis-datasource,performancecopilot-vector-datasource,performancecopilot-bpftrace-datasource,performancecopilot-flamegraph-panel,performancecopilot-breadcrumbs-panel,performancecopilot-troubleshooting-panel

[feature_toggles]
publicDashboards = true
