[Unit]
Requires=network-online.target
After=network-online.target named-chroot.service {{ item.after }}
[Service]
Type=oneshot
ExecStart={{ item.cmdpath }}
RemainAfterExit=true
StandardOutput=journal
[Install]
WantedBy=default.target
