---
- name: Reconfigure BIND DNS for the new domain name
  hosts: s390x_bastion_workstation
  tasks:
  - name: Recreate DNS Forward zone
    template:
      src: named/zvmesi_domain_name.zone.j2
      dest: /var/named/{% raw %}{{ zvmesi_domain_name }}{% endraw %}.zone
      owner: named
      group: named
      mode: 0640

  - name: Recreate DNS Forward zone (internal)
    template:
      src: named/ibmpoc_internal.zone.j2
      dest: /var/named/ibmpoc_internal.zone
      owner: named
      group: named
      mode: 0640

  - name: Recreate DNS Reverse zone
    template:
      src: named/subnet.in-addr.arpa.zone.j2
      dest: /var/named/{{ subnet_in_addr_name }}.in-addr.arpa.zone
      owner: named
      group: named
      mode: 0640

  - name: Create new finnad forward zone
    template:
      src: named/zvmesi.zone.j2
      dest: /var/named/{% raw %}{{ esigroup | lower }}{% endraw %}.zvmesi.zone
      owner: named
      group: named
      mode: 0640

  - name: Create named.conf fragments for new zones
    template:
      src: named/masterzone.conf.j2
      dest: /etc/named/{% raw %}{{ item }}{% endraw %}.conf
      group: named
      mode: 0640
    vars:
      domain_name: "{% raw %}{{ item }}{% endraw %}"
    loop:
      - "{% raw %}{{ zvmesi_domain_name }}{% endraw %}"
      - "{% raw %}{{ esigroup | lower }}{% endraw %}.zvmesi"

  - name: Recreate /etc/named.conf
    template:
      src: named/named.conf.j2
      dest: /etc/named.conf
      group: named
      mode: 0640

  - name: Add the tags for the named.conf fragments
    lineinfile:
      line: include "/etc/named/{% raw %}{{ item }}{% endraw %}.conf";
      dest: /etc/named.conf
      insertafter: "// z/VM ESI zones"
    loop:
      - "{% raw %}{{ zvmesi_domain_name }}{% endraw %}"
      - "{% raw %}{{ esigroup | lower }}{% endraw %}.zvmesi"

  - name: Unmanage resolv.conf in NetworkManager
    lineinfile:
      line: dns=none
      dest: /etc/NetworkManager/NetworkManager.conf
      insertafter: "\\[main\\].*"
      regexp: "^dns=.*"

  - name: Restart NetworkManager to have DNS change take effect
    systemd:
      name: NetworkManager
      state: restarted

  - name: Use local dns in resolv.conf
    blockinfile:
      dest: /etc/resolv.conf
      insertbefore: BOF
      block: |
        search {% raw %}{{ zvmesi_domain_name }}{% endraw %}{{''}}
        nameserver {{ bastion_private_ip_address }}

  - name: Patch HAProxy service script
    lineinfile:
      dest: /usr/lib/systemd/system/haproxy.service
      regex: ^ExecStartPre=
      line: ExecStartPre=/bin/bash -c 'until host {% raw %}{{ elan_host_name }}.{{ zvmesi_domain_name }}{% endraw %}; do sleep 1; done' && /usr/sbin/haproxy -f $CONFIG -c -q

  - name: Signal systemd to reload
    systemd: daemon_reload=yes

  - name: Recreate haproxy.cfg
    template:
      src: haproxy/haproxy.cfg.j2
      dest: /etc/haproxy/haproxy.cfg
      group: named
      mode: 0644
