#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[', variable_end_string:']]'

frontend ocp4-kubernetes-api-server
   mode tcp
   option tcplog
   bind {{ bastion_public_ip_address }}:6443
   bind [[ bastion_private_ip_address ]]:6443
#--RHOCP-API-FRONT--here
#   default_backend {{ cluster_name }}-k8s-api-server

frontend ocp4-machine-config-server
   mode tcp
   option tcplog
   bind {{ bastion_public_ip_address }}:22623
   bind [[ bastion_private_ip_address ]]:22623
#--RHOCP-MCS-FRONT--here
#   default_backend {{ cluster_name }}-machine-config-server
