<?php
// Override config.inc.php parameters

{% if meta_header_file is defined %}
$custom_css = "/w3ds/w3ds.css";
$custom_js = "/w3ds/w3ds.js";
$meta_header_file = "../{{ meta_header_file }}";
unset($background_image);
{% endif %}

$lang = "en";
$keyphrase = "{{ lookup('password', '/dev/null') }}";

$ldap_url = "{{ ldap_url }}";
$ldap_base = "{{ ldap_base }}";
$ldap_binddn = "";
$ldap_bindpw = "";
$who_change_password = "user";
$use_questions = false;
$use_tokens = false;
$use_sms = false;
$change_sshkey = true;

$racf_mode = true;

# Local password policy
# This is applied before directory password policy
$pwd_min_length = 9;
$pwd_max_length = 100;
$pwd_min_lower = 0;
$pwd_min_upper = 0;
$pwd_min_digit = 2;
$pwd_min_special = 0;
# Definition of special characters
$pwd_special_chars = "^a-zA-Z0-9";
$pwd_forbidden_chars = "/@%";
$pwd_no_reuse = true;
# Check that password is different than login
$pwd_diff_login = true;
# Complexity: number of different class of character required
$pwd_complexity = 1;
# Maximum consecutive identical chars
$pwd_max_cons_same = 2;
# use pwnedpasswords api v2 to securely check if the password has been on a leak
$use_pwnedpasswords = false;
# Show policy constraints message: always | never | onerror
$pwd_show_policy = "always";
# Position of password policy constraints message: above or below the form
$pwd_show_policy_pos = "above";

?>
