ro ramdisk_size=40000 cio_ignore=all,!condev
rd.dasd={{ guest_install_dasd }}
rd.znet={{ guest_install_znet }} 
ip={{ guest_install_ipaddr}}::{{ guest_install_gateway }}:255.255.255.0:{{ guest_install_hostname }}:{{ guest_install_nicid }}:none
nameserver={{ guest_install_nameserver }}
inst.repo=http://10.2.75.199/install/rhel/8.0
inst.ks=http://10.2.75.199/install/rhelks/{{guest_install_hostname }}.ks
