#version=RHEL8
# System authorisation information
auth --enableshadow --passalgo=sha512
repo --install --name="BaseOS" --baseurl={{ guest_install_baseurl }}/{{ guest_install_repo_baseos }}
repo --install --name="AppStream" --baseurl={{ guest_install_baseurl }}/{{ guest_install_repo_appstream }}
# Addon repos
#repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
#repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use network installation
install
url --url="{{ guest_install_baseurl }}/"
# Use text mode install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_AU.UTF-8

# Network information
network  --bootproto=static --device={{ guest_install_nicid }} --gateway={{ guest_install_gateway }} --ip={{ guest_install_ipaddr }} --nameserver={{ guest_install_nameserver }} --netmask={{ guest_install_netmask }} --noipv6 --activate
network  --hostname={{ guest_install_hostname }}.{{ cluster_name }}.{{ cluster_base_domain }}
network  --bootproto=static --device={{ guest_internal_nicid }} --ip={{ bastion_private_ip_address }} --netmask={{ subnet_netmask }} --noipv6 --activate
# Root password
rootpw --plaintext lnx4vm
# Add the ATS user
user --groups=wheel --name=support --password=$6$Yv2DCenGZew9/MRO$KUHT9xM2yiFyQFdcT7aL0ts0A7vUk/BeR6zyJdPB9S5fFbof3wF3.7hKEuT4YeDH9tNr6yU12s2y/GdvNkWN41 --iscrypted --gecos="LinuxATS/Endicott/IBM"
# Add my key
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAt/ON7u1KtZJmnktrTRTs0jno9DqGOrvY8tbruETq7zwMqCwzfFuNtrOg+ohwPkijs1GcHoeFkWqgqseZ94x1AcEF0Eny6uR7odzyFiJ+w5GiR1eMfYBnJ4jFefuFKWNknETJrCFb/tz8OHY/01jQZlsdPafrILwN/YwAr6vQTjrV1hyxL17B+WysoG6XAbXDDig9haPVXJRdkbtsZ60fvMNL+NJfDcpGqOf4Jo/5HnkmMFXA/B71ThY22UFMr/ZM8znLZ1SI+gi+eOynAzTp6Z73z5VhMOgBWxIByUL1lNOYRMeKBwkfOYF6VOQooYMV6LEyKUBx1m0y4HsiHqd+GQ== viccross@unfazed.au.ibm.com"
# Do not run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=dasda
# Partition clearing information
ignoredisk --only-use=dasda
zerombr
clearpart --none --initlabel
autopart --type=lvm
reboot

# System services
services --enabled="chronyd"
# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server" --sla="Self-Support" --usage="Development/Test"
# System timezone
timezone Australia/Brisbane

%packages
@^server-product-environment
kexec-tools
vim
psmisc

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/anaconda-post.log

# Log command invocations as well as output
set -x

# Add the uber-cool ATS logo to message-of-the-day
cat >> /etc/motd.d/ibmats <<EOMOTD
RRRRRRRRRRR   HHHH\    HHHHH\             CCCCc            ZZZZZZZZZZZZZZZZZZZ
R          R  H  H\    H   H\           cCc  CCc           ZZ:::::::::::::::ZZ
R  RRRRRR   R H  H\    H   H\    OOOO   cc       PPPPPPP   ZZ::ZZZZZZZZZ::::ZZ
R  R\\\\\R   RH  H\    H   H\  OOO  OOO cc       PP    PP  ZZ::Z        ZZ::ZZ
R  R\    R   RH  H\    H   H\ OO      OOcc       PP     PP ZZZZZ       ZZ::ZZ
R  R\    R   RH  H\    H   H\ OO      OOcc       PP     PP           ZZ::ZZ
R  RRRRRR   R H   HHHHH    H\ OO      OOcCc  CCC PP    PP          ZZ::ZZ
R         RRR H            H\ OO      OO  CCCCc  PPPPPPP         ZZ::ZZ
R  RRRRRR   R H   HHHHH    H\  OOO  OOO          PP            ZZ::ZZ
R  R\\\\\R   RH  H\\\\\H   H\    OOOO            PP          ZZ::ZZ      ZZZZZ
R  R\    R   RH  H\    H   H\                    PP         ZZ::ZZ       Z::ZZ
R  R\    R   RH  H\    H   H\  Red Hat OpenShift           ZZ::ZZ        Z::ZZ
R  R\    R   RH  H\    H   H\  Container Platform          ZZ:::ZZZZZZZZZ:::ZZ
RRRR\    RRRRRHHHH\    HHHHH\  for IBM Z and IBM LinuxONE  ZZ:::::::::::::::ZZ
\\\\\    \\\\\\\\\\    \\\\\\                              ZZZZZZZZZZZZZZZZZZZ

EOMOTD

%end

