$TTL 900

@ IN SOA bastion-int.{{ cluster_domain_name }} hostmaster.{{ cluster_domain_name }}. (
    2020083002 1D 1H 1W 3H
  )
  IN NS bastion-int.{{ cluster_domain_name }}.

{{ zvm_internal_ip_address.split('.')[3] }} IN PTR zVM.ibmpoc.internal.
{{ zvm_internal_ip_address.split('.')[3] }} IN PTR LDAPSRV.ibmpoc.internal.
{{ bastion_private_ip_address.split('.')[3] }} IN PTR bastion-int.{{ cluster_domain_name }}.
