USER {{ cluster_nodes[coreos_role][item].guest_name }} ZVM4DEMO 8192M 16384M G
 INCLUDE IBMDFLT
 CPU 00
 CPU 01
 IPL CMS
 MACHINE ESA 4
 CONSOLE 0009 3215 T OPMGRM1
 NICDEF 0600 TYPE HIPERS LAN SYSTEM {{ ocp_cluster_lan_name }} DEVICES 3
 LINK MAINT 200 191 RR
 AMDISK 0200 3390 AUTOG 262000 OCPDASD MR PWS READ WRITE
