#!/bin/bash
# finna-host-add.sh -- Response script for a newly-discovered ELAN
# Triggered by incrond, by finnad writing an action file

# get the system name
SYSNAME=$1;

# Run the playbook to add DNS records for host
pushd /opt/ansible && ansible-playbook -i inventory -e sysname=${SYSNAME} finna-add-host.yml && popd

# Is this a remote ELAN?
LOCALSYS=$(/usr/local/bin/finna self name)
if [ ${SYSNAME} != ${LOCALSYS} ]; then
  MYIP=$(/usr/local/bin/finna self ip)
  pushd /opt/ansible && ansible-playbook -i inventory -e masterip=${MYIP} -e sysname=${SYSNAME} finna-remote-elan.yml && popd
fi
